<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    link(rel='stylesheet', href='../static/style.css')
</head>

<body>

    <nav>
        <ul>
            <li> <a href="">Home</a> </li>
            <li> <a href="">About</a> </li>
            <li><a href="">Contact</a> </li>
        </ul>
    </nav>

    <div class="container">


        <form action="/" method="post">
            <input type="text" id="name" name="Name" required inputmode="text" placeholder="Enter your name">
            <input type="text" id="Gender" name="Gender" required inputmode="text" placeholder="Enter your Gender">
            <input type="age" id="Age" name="Age" required inputmode="numeric" placeholder="Enter your Age">

            <textarea name="more" id="" cols="32" rows="6" placeholder="Do you have any injuries, if had then write here a little about your injuries"></textarea>
            <textarea name="address" id="" cols="32" rows="6" placeholder="More About You & your address"></textarea>
            <button class="btn">Submit</button>
        </form>


    </div>

</body>

</html>